<!--The content below is only a placeholder and can be replaced.-->
<!--<h3> I'm in the AppComponent!</h3>-->
<!--<hr>-->
<!--<app-server></app-server>-->
<!--<div app-server> </div>-->

<!--&lt;!&ndash;# Twitter log in&ndash;&gt;-->
<!--<div>place holder for twitter logo</div>-->
<!--<div>See what's happening in the world right now</div>-->
<!--<div>Join Twitter today.</div>-->
<!--<div><button>Sign Up</button></div>-->
<!--<div><button>Log in</button></div>-->


<!--practice-->
<!--<div id="main" class="border relative">虎扑3月26日讯 今日，根据报道，南加州大学的一年级学生奥涅卡-奥孔古宣布自己将参加2020年的NBA-->
  <!--选秀大会. 奥孔古今年19岁，司职中锋，身高2.06米，臂展2.16米，场均可以砍下16.5分8.6篮板2.7盖帽以及1.2抢断. 在ESPN的选秀预测中，-->
  <!--奥孔古排名第六。-->
  <!--<div class="border absolute">something that is absolute</div>-->
<!--</div>-->

<!--<div class="container border1">-->
  <!--<nav class="border2">-->
    <!--<ul>-->
      <!--<li>Home</li>-->
      <!--<li>Taco Menu</li>-->
      <!--<li>Draft List</li>-->
      <!--<li>Hours</li>-->
      <!--<li>Directions</li>-->
      <!--<li>Contact</li>-->
    <!--</ul>-->
  <!--</nav>-->
  <!--<section class="border3">1st section</section>-->
  <!--<section class="border3">2nd section Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006 Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006</section>-->
  <!--<section class="border3">3rd section Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006</section>-->
<!--</div>-->

<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1 box2">1st inline block</div>-->
<!--<div class="border1">No clear</div>-->

<!--<div class="container border1">-->
  <!--<nav class="border2">-->
    <!--<ul>-->
      <!--<li>Home</li>-->
      <!--<li>Taco Menu</li>-->
      <!--<li>Draft List</li>-->
      <!--<li>Hours</li>-->
      <!--<li>Directions</li>-->
      <!--<li>Contact</li>-->
    <!--</ul>-->
  <!--</nav>-->

  <!--<section class="border3">1st section</section>-->
  <!--<section class="border3">2nd section Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006 Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006</section>-->
  <!--<section class="border3">3rd section Google News is a news aggregator app developed by Google. It presents a continuous, customizable flow of articles organized from thousands of publishers and magazines. Google News is available as an app on Android, iOS, and the Web. Google released a beta version in September 2002 and the official app in January 2006</section>-->

<!--</div>-->

<!--<div class="border1">-->
  <!--<nav class="border2 column" style="width: 20%">1st nav</nav>-->
  <!--<div class="border3 column" style="width: 79%">1st inline block</div>-->
  <!--&lt;!&ndash;<div class="border3 column">2nd inline block</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="border3 column">1st inline block</div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="border1 relative">-->
  <!--This is static position-->
  <!--<div class="border1 absolute">-->
    <!--This is absolute position-->
  <!--</div>-->
<!--</div>-->

<!--<div class="border1 relative1">-->
  <!--This is 1st relative-->
<!--</div>-->
<!--<div class="border2 relative2">-->
  <!--this is 2nd relative-->
<!--</div>-->

<!--<div class="border1 fixed">-->
  <!--This is a fixed position-->
<!--</div>-->

<!--L1 first homework-->
<!--<div class="background1">-->
  <!--<div class="background2 inputBox">-->
    <!--<div style="text-align: center"><input type="text" placeholder="username"></div>-->
    <!--<div style="text-align: center"><input type="password" placeholder="password"></div>-->
    <!--<div style="text-align: center"><button style="background-color: green">LOGIN</button></div>-->
    <!--<div style="text-align: center">-->
      <!--<span>Not registered? </span>-->
      <!--<a style="color: green" href="www.abc.com">Create an account</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--L2 first homework-->
<div class="jiuzhangBackground">
  <h2 style="text-align: center">美国硅谷一线工程师在线直播授课，为你打开IT名企的大门</h2>
  <div style="text-align: center">九章算法已近帮助 30000 + 人成功拿到心仪的 Offer</div>
  <div style="text-align: center" class="tab">
    <span>VIP集训营</span><span>课程</span><span>微课堂</span>
  </div>
</div>
